* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    min-height: 100vh;
    background: url(space.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
 h3, h1 {
    text-align: center;
    background-image: linear-gradient(to right, #ffffff 0%, #7b7b7b 100%);
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    transition: all 0.5s ease-in-out;
}
h1:hover {
    background-image: linear-gradient( 90deg, rgb(255, 87, 252) 0%, rgb(255, 154, 247) 25%, rgb(255, 0, 212) 50%, rgb(0, 64, 255) 75%, rgb(233, 136, 255) 100% );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform:scale(1.1);
    
}
h3:hover {
    background-image: linear-gradient( 90deg, rgb(255, 87, 252) 0%, rgb(255, 154, 247) 25%, rgb(255, 0, 212) 50%, rgb(0, 64, 255) 75%, rgb(233, 136, 255) 100% );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform:scale(1.1);
    
}

.card { 
	margin-right: auto; 
	margin-left: auto; 
	width: 700px; 
	box-shadow: 0 15px 25px rgba(80, 80, 80, 0.2); 
	height: 700px; 
	border-radius: 5px; 
	backdrop-filter: blur(10px); 
	background-color: rgba(255, 255, 255, 0.099); 
	padding: 10px; 
	text-align: center; 
} 

.card img { 
	height: 60%; 
}
.header {
    top: 0;
    left: 0;
    width: 100%;
     padding: 20px 100px;
     background: transparent;
     backdrop-filter: blur(10px);
     display: flex;
     justify-content: space-between;
     align-items: center;
     z-index: 100;
 }
 .logo {
     font-size: 32px;
     color: #fff;
     text-decoration: none;
     font-weight: 700;
 }
 .navbar a {
     position: relative;
     
     font-size: 18px;
     font-weight: 500;
     color: #fff;
     text-decoration: none;
     margin-left: 40px;
 }
 .navbar a::before {
     content: '';
     position: absolute;
     left: 0;
     top: 100%;
     width: 0%;
     height: 2px;
     background: #fff;
     transition: .3s;
 }
 .navbar a:hover::before {
     width: 100%;
 }
 .card img {
    width:4em; 
    height:4em;
    cursor:pointer;
    transition: .5s;
}
.card img:hover {
    width:6em; 
    height:6em;
    transition: .5s;

}